fint:
  org-id: fintlabs.no
  kafka:
    topic:
      org-id: fintlabs-no
    enable-ssl: false

novari:
  flyt:
    archive:
      gateway:
        client:
          fint-flyt-file:
            base-url: http://localhost:8091
          fint-archive:
            base-url: https://beta.felleskomponent.no
            authorization:
              enable: true
    resource-server:
      security:
        api:
          internal:
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"DEVELOPER\",\"USER\"]}"
  kafka:
    default-replicas: 1

spring:
  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8301

slack:
  webhook:
    url: https://example.com/slack