fint:
  application-id: fint-flyt-archive-gateway

novari:
  flyt:
    archive:
      gateway:
        client:
          fint-archive:
            authorization:
              enable: true
        kafka:
          topic:
            instance-processing-events-retention-time: "4"

        web-client:
          connection-max-life-time: "30m"
          connection-max-idle-time: "30m"
          connect-timeout: "2m"
          default-response-timeout: "130s"

        dispatch:
          fint-client:
            post-file-timeout: "130s"
            post-case-timeout: "130s"
            post-record-timeout: "130s"
            get-status-timeout: "130s"
            created-location-poll-total-timeout: "30m"
            created-location-poll-backoff-min-delay: "1s"
            created-location-poll-backoff-max-delay: "10s"
          flyt-file-client:
            get-file-timeout: "2m"

        resource:
          fint-client:
            get-resource-timeout: "130s"
            get-resources-last-updated-timeout: "130s"
            find-cases-with-filter-timeout: "130s"
            find-cases-with-filter-max-attempts: 10
            find-cases-with-filter-backoff-retry-min-delay: "5s"
            find-cases-with-filter-backoff-retry-max-delay: "60s"

          publishing:
            reset:
              from-time-of-day: "03:00:00"
              to-time-of-day: "04:00:00"
              resource-topic-retention-time-offset: "4d"
            pull:
              initial-delay: "5s"
              fixed-delay: "15m"

server:
  max-http-request-header-size: 40KB

spring:
  profiles:
    include:
      - fint-client
      - fint-oauth2-idp
      - flyt-file-client
      - flyt-kafka
      - flyt-logging
      - flyt-resource-server

  output:
    ansi:
      enabled: always

logging:
  level:
    io.netty.handler.ssl: DEBUG
    no.novari.cache.ehcache.FintEhCacheEventLogger: WARN
    org.springframework.scheduling: DEBUG
    org.springframework.security.oauth2.client: DEBUG
    org.springframework.web.reactive.function.client: DEBUG
    reactor.netty.http.client: DEBUG
    reactor.netty.resources: DEBUG
    reactor.netty.transport: DEBUG
