spring:
  security:
    oauth2:
      client:
        registration:
          file-service:
            authorization-grant-type: client_credentials
            client-id: ${fint.sso.client-id}
            client-secret: ${fint.sso.client-secret}
            provider: fint-idp

novari:
  flyt:
    archive:
      gateway:
        client:
          fint-flyt-file:
            base-url: 'http://fint-flyt-file-service:8080'
